.background-space {
    background-color: #2E073F;
    border: 2px solid rgb(213, 205, 205);
    border-radius: 8px;
    height: calc(100vh - 55px);
    width: 1200px;
    padding: 20px;
    margin-top: 0;
    margin-left: 280px;
    margin-right: auto;
    position: relative;
    overflow: auto;
}

.user-input {
    height: 60px;
    width: 1000px;
    position: absolute;
    bottom: 25px;
    left: 80px;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    line-height: 1.2;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
    resize: none;
}

.submit-prompt {
    border-radius: 75px;
    height: 40px;
    width: 40px;
    background-color: #55bcef;
    background-image: url('/send-logo.png');
    background-size: 80%;
    background-position: 40% 78%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 36px;
    right: 90px;
    transform: rotate(45deg);
}