.chat-bubble-user {
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    max-width: 60%;
    align-self: flex-end;
    display: inline-block;
    color: black;
    font-size: 16px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
